
body {
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/** Main--------------------------------------------------------------------------------------------- */

.main-flexbox {
  display: flex;
}

p {
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: Helvetica;
  src: url(./Helvetica.ttf);
}

@font-face {
  font-family: Helvetica-Oblique;
  src: url(./Helvetica-Oblique.ttf);
}


/*Left section--------------------------------------------------------------------------------------- */

.left-content {
  width: 55.55%;
  height: 100vh;

  position: fixed;
  z-index: -1;
}

.left-pseudo {
  width: 55.55%;
  height: 100vh;
}

#main-title-left {
  font-size: 10em;
  text-align: right;
  margin: 0 0 0 0;

  color: rgb(76,50,223);
  font-family: Helvetica;
  font-weight: bolder;
  z-index: 20;
}

/* Default to width 50% and constraint for height */
#main-image {
  width: 55.55vw;
  height: auto;

  position: absolute;
  z-index: -1;
}

/* Custom aspect overflow */
@media (max-aspect-ratio: 1374/911) {
  #main-image {
    width:auto;
    height: 100vh;
  }
}

#canvas-container{
  position: fixed;
  width: 55.55%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottom-icons {
  width:100%;
  
  bottom: 2.5%;
  left: 2.5%;
  position: absolute;
  justify-content: center;
}

#about{
  height: 100px;
  left: 2.5%;
}



/*Right Section-------------------------------------------------------------------------------------- */

#main-title-right {
  font-size: 10em;
  margin: 0 0 0 0;
  text-align: left;
  font-family: Helvetica;
  font-weight: bolder;

}

.right-content {
  width: 44.44%;
  right:0px;
  background-color: rgb(255, 255, 255);
}

#bio-photo {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 27, 15);
  margin: auto 0 auto auto; /* Centers the photo div */
}

.nav-button {
  outline: 0.1em solid rgb(255, 0, 0);
  stroke-width: 10px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button p {
  font-family: Helvetica;
  margin: 10px;
  color: rgb(255, 0, 0);
}

.main-descriptor{
  font-size: 1em;
  text-align: right;
  justify-items: right;
  font-family: Helvetica-Oblique;
  margin: 2.5% 7.5%;
}

.main-descriptor img {
  width: 150px;
}


/* Grid content------------------------- */

.body-content {
  width: 100%;

  /* display: grid; */
  margin: 0% 0% 40px 0%;
  grid-template-columns: 40% 60%;

}

.title-spacer { 
  width:auto;

  background-color: aqua;
}

/*--------Entry-------------------------------*/

.titles p {
  font-size: 5em;
  line-height: 100%;

  margin: 0% 0% 2.5% 5%;

  font-family: Helvetica;
  font-weight: bold;

}

/* Thumbnail */
.big-thumbnail {
  width: 90%;
  height: 12vw;

  margin: 0% auto 5% 5%; 

  border-radius: 100px;
  background-color: red;
  overflow: hidden;
}

.big-thumbnail img {
  width:100%;
}

/* Text */
.description {
  margin: 0% 5% 0% 5%;

}

.description p {
  font-family: Helvetica;

}

/* Line Break */
.line_break {
  position: relative;
  background-color: black;
  width: 95%;
  height: 1px;
  margin: 0 auto 5% auto;

}